<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585508378371-18qr1p2b2itul0le3lh6co2ho3es0on8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585508378371-18qr1p2b2itul0le3lh6co2ho3es0on8</string>
	<key>API_KEY</key>
	<string>AIzaSyBZnBBKhuwxUMRz_QK8DPSviCkmJqJDhH4</string>
	<key>GCM_SENDER_ID</key>
	<string>585508378371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nelsongonzalez.ShoppingListSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-911a2</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-911a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585508378371:ios:0f47180f4883d7ea7cfb36</string>
	<key>DATABASE_URL</key>
	<string>https://shoppinglist-911a2.firebaseio.com</string>
</dict>
</plist>